<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="background: orange !important;">
    <!-- Brand -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <a class="navbar-brand" style="width: 12%;" [routerLink]="'dashboard'"><img
                src="../../../assets/images/logo.png" class="img-width" /></a>
        <!-- Links -->
        <ul class="navbar-nav nav-item-align">
            <li class="nav-item">
                <span (click)="onMetalRegisterClick()" style="cursor: pointer;">Metal Register</span>
            </li>
            <li class="nav-item">
                <span>Link 2</span>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" style="margin-right: 10px;">
                <img src="../../../assets/images/avatar.png" class="avatar-img" alt="Avatar" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="isOpen">
                    <ul class="example-list">
                        <li (click)="openDialog()" data-toggle="modal" class="logout"
                        data-target="#exampleModal">Logout</li>
                    </ul>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>
<ng-template #modal>
    <h2 mat-dialog-title>Are you sure, you want to logout?</h2>
    <mat-dialog-content class="mat-typography">
    </mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button type="button" class="btn btn-light" (click)="closePopup()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button>
    </div>

</ng-template>