.data-table {
    width: 100%;
}
.radio-btn-margin {
margin-right: 10px;
}
.filter-div {
    margin-bottom: 20px;
}
.sub-filter-div {
    padding: 2% 0%;
}
label {
    margin-right: 10px;
}
.icon-cursor {
    cursor: pointer;
}