<div class="main-div">
    <h1>OptiMix</h1>
    <form [formGroup]="loginForm">
        <div fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="space-around none">
            <div fxFlex="20%" fxLayout="row" fxLayoutGap="30px">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="label-margin">User Name: </mat-label>
                    <input matInput placeholder="User Name" formControlName="userName" required>
                </mat-form-field>
            </div>
            <div fxFlex="20%" fxLayout="row" fxLayoutGap="30px">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="label-margin">Password:</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="password" required>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Login</button>
        </div>
    </form>
</div>