.form-width {
    width: 100%;
    margin-bottom: 2%;
}
.label-width {
    width: 20%;
}
input {
    margin-left: 10px;
}
th {
    text-align: center !important;
    background: #f3f9fe;
    border-right: 1px solid rgba(0, 0, 0, 0.12)
}
tr {
    text-align: center !important;
}
th:last-child {
    border-right: none;
}
td {
    width: 33% !important;
}
td > input {
    border: none;
    text-align: center;
    width: 100%;
}
td > input:focus {
    border: none;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}